.navbar{
    background-color: #293846;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
.nav-menu{
    background-color: #293846;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}
.nav-menu.active{
    left: 0;
    transition: 300ms;
}
.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
.nav-text a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 5px;
}
.nav-text a:hover{
    background-color: #060b26;
}
.nav-menu-items{
    width: 100%;
}
.navbar-toggle{
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.button{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: white;
    color: #060b26;
    font-size: medium;
    margin-left: 85rem;
    padding: 5px;
    border-radius: 5px;
    border-color: white;
    cursor:pointer;
}
span{
    margin-left: 15px;
}